{% extends "main.html" %}

{% block content %}
<div id="optionsPanel">
	<div id="tabHeader">
		<div>
			<span id="tabToggle">
				Courses and Options
				<span style="font-size:10px">(hide)</span>
			</span>
			<img src="/static/images/loading.gif" id="loadingIcon"/>
		</div>
	</div>
	<div id="tabBar">
		<a id="courseTabLink" class="tabActive">Courses</a>
		<a id="optionTabLink">Options</a>
		<div style="clear:both"></div>
	</div>
	<div id="tabContent">
		<div id="courseTab" class="tabActive">
		</div>
		<div id="optionTab">
			Lunches:
			<div style="clear:both"></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-0"/><label for="lunchBox-0">1-2</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-1"/><label for="lunchBox-1">4-5</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-2"/><label for="lunchBox-2">6-7</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-3"/><label for="lunchBox-3">9-10</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-4"/><label for="lunchBox-4">11-12</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-5"/><label for="lunchBox-5">14-15</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-6"/><label for="lunchBox-6">16-17</label></div>
			<div class="lunchDiv"><input type="checkbox" id="lunchBox-7"/><label for="lunchBox-7">19-20</label></div>
			<div style="clear:both"></div>
			<p>
				Pick:
				<select id="pickSelect">
					<option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
					<option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option>
					<option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>
					<option value="13">13</option><option value="14">14</option>
				</select>
			</p>
			<p>
				<label for="sortOptionScore">
					<input type="radio" name="sortOption" class="sortOption" id="sortOptionScore" value="score"/>
					Sort by your rating
				</label>
				<br/>
				<label for="sortOptionChance">
					<input type="radio" name="sortOption" class="sortOption" id="sortOptionChance" value="chance"/>
					Sort by chance
				</label>
			</p>
			<p class="advanced">
				<b>Advanced:</b><br/>
				Distribution function<br/>
				for calculating chance:<br/>
				<label for="distOptionBinomial">
					<input type="radio" name="distOption" class="distOption" id="distOptionBinomial" value="binomial"/>
					Binomial (default)
				</label>
				<br/>
				<label for="distOptionNormal2">
					<input type="radio" name="distOption" class="distOption" id="distOptionNormal2" value="normal2"/>
					Normal (&sigma; = 2 rotations)
				</label>
				<br/>
				<label for="distOptionNormal1">
					<input type="radio" name="distOption" class="distOption" id="distOptionNormal1" value="normal1"/>
					Normal (&sigma; = 1 rotation, <i>unrealistic!</i>)
				</label>
			</p>
		</div>
	</div>
	<div id="tabActions">
		<button id="resetActionButton">Reset All</button>
		<div>
			<button id="stopActionButton" disabled="disabled">Stop <span></span></button>
			<button id="printActionButton" disabled="disabled">Print</button>
		</div>
		<button id="worksheetActionButton">Show Worksheet</button>
		<button id="schedulesActionButton">Generate Schedules</button>
	</div>
</div>
<div id="resultsPanel">
	<div id="pageContent">
		<div id="startPage" class="pageActive">
			<div id="startContent">
				<div id="startHeader">Welcome!</div>
				To get started:
				<ol>
					<li>In the Courses tab, check off the courses you want to take.</li>
					<li>Rate the teachers or click the lock to lock in a certain teacher.</li>
					<li>
						In the Options tab, select your lunches and check off other options.
						<br/>
						<b>Remember to choose your pick!</b>
					</li>
					<li>Click <b>Generate Schedules</b>!</li>
				</ol>
				<div style="text-align:center">
					<p>
						Good luck!
					</p>
					<p style="width:65%;margin:auto;">
						<!--
						Many thanks to Laurence, Arlen, Denise, Ariel, and others
						for helping me get this thing up and running!
						-->
						<!--
						Many thanks to Eli, Catherine, Kristina, Arlen, Rachel, and others
						for helping me get this thing up and running!
						-->
					</p>
				</div>
				<div style="font-size:smaller">
					<p>
						<b>Disclaimer:</b>
						This program is only designed as an <i>aid</i>, not a <i>replacement</i>,
						to extensive research on your own part. While I have done my best to ensure that all data
						generated by this program is correct, I cannot make any guarantees.
						Percentages are at best educated guesses and may greatly differ from the
						actual probability.
					</p>
					<p style="text-align:center">
						Powered by
						<a target="_blank" href="http://code.google.com/appengine/">Google App Engine</a>,
						<a target="_blank" href="https://www.djangoproject.com/">Django</a>,
						and hard work.
					</p>
				</div>
			</div>
		</div>
		<div id="resultsPage">
		</div>
	</div>
</div>
{% endblock content %}
